
*{margin:0;padding: 0;}
*,*::before,*::after{
    box-sizing: border-box;
}
/* *选择器是不包含伪元素的*/
#html{
    word-break: break-all;
}
#div1{
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    top:20px;
}
#div1::before{
    position: absolute;
    content: '';
    display: block;
}
#div1::after{
    position: absolute;
    content: '';
    display: block;
}
@media (max-width:500px) {
    #html{
        height:50vh;
        overflow: auto;
        /*容器高度设置了50vh，内容太长就会溢出容器，设置为auto，显示滚动条*/
    }
    #div1{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%)
    }

    #div1Wrapper{
        height: 50vh;
        position:relative;
        border:1px solid black;
    }
}

